# Ignore everything
*
# But descend into directories
!*/

# # Recursively allow files under:
# "mu-plugins", "plugins", "themes" directory
!mu-plugins/**
# !plugins/**
!themes/**

# ignore this file
themes/index.php

# ignore specific themes
themes/twenty*/

# ignore vendor files installed by Composer
vendor/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
*.DS_Store

# ignore environmental variables
.env

# don't ignore this file
!.gitignore