@use '../abstracts' as *;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  min-height: 6rem;

  &__container {
    @extend %flex-layout;
    margin-inline: auto;
    max-width: 1150px;
    padding: 0 max(20px, 3.8vw);
  }

  &__logo {
    width: 202px;
    height: auto;
    align-items: center;
  }

  &__menu {
    display: none;
  }

  &__menu-icon {
    display: block;
    &--active {
      display: block;
    }
    &--close {
      display: none;
    }
  }

  & ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;

    & a,
    a:active,
    a:visited,
    a:focus {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 2px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include md {
    &__container {
      max-width: 689px;
      padding: 3.1rem 0;
    }

    &__menu {
      display: flex;
    }

    &__menu-icon {
      &--hamburger {
        display: none;
      }
      &--close {
        display: none;
      }
    }
  }

  @include xl {
    &__container {
      max-width: 1110px;
    }
  }
}
