/* COLORS */

// Theme colors
$peach: #e7816b;
$light-peach: #ffad9b;
$black: #1d1c1e;
$dark-grey: #333136;
$white: #fff;
$light-grey: #f1f3f5;

// Theme color map
$theme-colors: (
  'peach': $peach,
  'light-peach': $light-peach,
  'black': $black,
  'dark-grey': $dark-grey,
  'white': $white,
  'light-grey': $light-grey,
);

// create theme color utility classes
// @include create-color-utilities($theme-colors);
