@use '../abstracts' as *;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;
  min-height: 6rem;
  z-index: 10;
  background-color: $white;

  &__container {
    @extend %flex-layout;
    margin-inline: auto;
    max-width: 1150px;
    padding: 0 max(20px, 3.8vw);
  }

  &__logo {
    width: 202px;
    height: auto;
    align-items: center;
  }

  &__menu {
    position: absolute;
    top: 6rem;
    left: 100%;
    background-color: $black;
    width: 100%;
    z-index: 5;
    padding: max(48px, 3.8vw) max(24px, 3.8vw);
    transition: left 0.3s ease-in-out;

    &--open {
      left: 0;
    }
  }

  &__menu-icon {
    display: block;
    &-item {
      display: none;
      &--active {
        display: block;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  & ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;

    & a,
    a:active,
    a:visited,
    a:focus {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 25px;
      letter-spacing: 2px;
      text-align: left;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include md {
    &__container {
      max-width: 689px;
      padding: 3.1rem 0;
    }

    &__menu {
      display: flex;
      position: initial;
      background-color: transparent;
      width: auto;
      padding: 0;
    }

    &__menu-icon {
      display: none;
      &--hamburger {
        display: none;
      }
      &--close {
        display: none;
      }
    }

    & ul {
      flex-direction: row;
      align-items: center;

      & a,
      a:active,
      a:visited,
      a:focus {
        color: initial;
        font-size: 14px;
        text-align: center;
      }
    }
  }

  @include xl {
    &__container {
      max-width: 1110px;
    }
  }
}
